
footer {
    position: absolute;
    padding: 15px;
    background-color: #171a21;
    width: 100%;
    height: auto;
    top: 100%;
    z-index: 2;

    a {
        text-decoration: none;
        color: #cac9c9;
    }

    .footer_text {
        padding: 5px;
        color: #828282;
        font-size: 14px;
        text-align: center;
    }
}
